@import "animations";

@include breakpoint(0, $mobile) {
  header {
    background-position: center;
    background-image: url("./images/header-bg.jpg");

    h2 {
      font-family: $font-family;
      font-size: 1.6rem;
      font-weight: 200;
      padding: rem($pd-half) 0;
      color: $orange;
    }
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: rem($pd-quarter) rem($pd-half) 0 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $bggray;
    z-index: 2;

    &.slide-in {
      animation: slideIn 0.3s ease-in-out forwards;
    }

    &.slide-out {
      animation: slideOut 0.3s ease-in-out forwards;
    }

    &.hidden {
      #navlist {
        @include hidden;
      }

      button {
        background-image: url("./images/hamburger.svg");
      }
      background-color: transparent;
    }

    #navlist {
      padding-top: rem($pd);
      display: flex;
      flex-direction: column;
      gap: rem($pd);

      li {
        text-align: end;

        a {
          padding: 0;
          font-weight: 200;
        }
      }
    }

    button {
      height: rem(calc($pd-3x/2));
      width: rem(calc($pd-3x/2));
      background-color: transparent;
      background-image: url("./images/x.svg");
      border: none;
      cursor: pointer;
    }
  }
  .bottom {
    position: absolute;
    top: 40%;
    left: 10%;

    a {
      font-weight: 400;
      font-size: 0.6rem;
      text-transform: uppercase;
      padding: rem($btn-pd-tb) rem($btn-pd-lr);
      border: $orange 1px solid;
    }
  }
}

@include breakpoint($desktop) {
  header {
    background-image: url("./images/header-black-1x.jpg");
    background-image: image-set(url("./images/header-black-1x.jpg") 1x, url("./images/header-black-2x.jpg") 2x);
    background-image: -webkit-image-set(url("./images/header-black-1x.jpg") 1x, url("./images/header-black-2x.jpg") 2x);
    height: 750px;

    h2 {
      font-family: $font-family;
      font-size: 1.6rem;
      font-weight: 200;
      padding: rem($pd) 0;
      color: $orange;
    }
  }

  nav {
    padding: 0px rem($pd-quarter) 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;

    #navlist {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: rem($pd-half);

      li {
        text-align: end;
        border-bottom: solid 1px $lightorange;
        letter-spacing: 0.02rem;

        a {
          padding: 0;
          font-weight: 400;
          font-size: 0.8rem;
          color: $lightorange;
        }
      }
    }

    button {
      @include hidden;
    }
  }

  .bottom {
    position: absolute;
    top: 40%;
    left: 10%;

    a {
      font-weight: 400;
      font-size: 0.6rem;
      text-transform: uppercase;
      padding: rem($pd-quarter) rem($pd-half);
      margin-top: rem($pd-quarter);
      border: $orange 1px solid;

      &:hover {
        background-color: $orange;
      }
    }
  }
}

header {
  position: relative;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1;
  padding: rem($pd-quarter);

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: $font-family;
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;

    span {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: bold;
}
