// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;

// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;

// COLORS
// $copy: ;
// $bgcolor: ;
$bggray: #363636;
$primary: red;
$orange: #d5874c;
$lightorange: #ffad6e;
$superlightorange: #fff7f2;
$lightgray: #595959;
$superlightgray: #d5d5d5;
$ultralightgray: #f7f7f7;

// FONT
$font-family: "Source Sans Pro", sans-serif;

// Units
$pd-3x: 30;
$pd: 20;
$pd-half: 10;
$pd-quarter: 5;
$btn-pd-tb: 6;
$btn-pd-lr: 16;
