# Node.js dependencies
node_modules/

# Compiled CSS
*.css

# Sass cache
.sass-cache/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Environment variables
.env

# Build output
build/

.DS_Store