footer {
  background-color: $bggray;
  padding: 0.8rem 0.8rem 3rem 0.8rem;

  h4 {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
  }

  p {
    padding-top: 4px;
    font-family: $font-family;
    font-size: 0.6rem;
    font-weight: 200;
    color: #fff;
  }

  a {
    padding: 0;
    color: $lightorange;
    font-family: $font-family;
    font-size: 0.6rem;
    font-weight: 200;
  }
}
